
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Estate</title>
    <link rel="stylesheet" href="{% static 'static\main.css' %}">
    <!-- <link rel="stylesheet" href="{% static '' %}"> -->
  
</head>
<body>
    <nav class="nav" id="nav">
        <div class="logo">
            <a class="log" href="#"><h1><span style="color: blue;font-family: 'Shalimar', cursive;">Property</span><span style="color: red;font-family: 'Shalimar', cursive;">48</span></h1></a>
        </div>
        <div class="titlebar">
            <a href=#>For Sale</a>
            <a href=#>For Rent</a>
            <a href=#>Companies</a>
            <a href=#>Register</a>
            <a href=#>Trend</a> 
        </div>
    </nav>

    <div class="card">
        <div class="card-title">
            <div class="card-image">
                
            </div>
        </div>
    </div>
</body>
</html>